
{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block main %}

      <div class="container">
<h1> About Yammago </h1>
<p>Remember when you were little and you would have "playdates" with your friends? You'd get together just to play! Life was so simple and carefree. Adulting is hard, especially when it comes to making new friends. Enter Yammago: a playdate website for grown-ups, encouraging members to have fun together.</p>
<p>We run on Google App Engine using Flask for backend and frontend.</p>
<h1>Mission</h1>
<p>We want to connect people doing things they love, or trying out new activities. Our focus is on an activity-based, community driven website that encourages personal connections over big spammy groups. Come join our community and see what users near you are doing for fun!</p>

</div>


{% endblock %}