<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
    <!-- if we weren't compiling client side this would be at end of body -->
    <title>Yammago | {% block title %} {% endblock %}</title>
  </head>
  <body>
    {% include 'nav.html' %}
    {% block main %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

    <footer class="footer navbar">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Yammago 2025</p>
      </div>
    </footer>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
