<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container navbar-container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-brand" href="/events">Yammago</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> 
            <strong>{{user.firstname}}</strong>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="navbar-login">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-center">
                                <span class="glyphicon glyphicon-user icon-size"></span>
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <p class="text-left"><strong>{{user.firstname}} {{user.lastname}}</strong></p>
                            <p class="text-left small">{{user.handle}}</p>
                            <p class="text-left">
                                <a href="{{ url_for('view_current_user')}}" class="btn btn-primary btn-block btn-sm">Profile</a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="navbar-login navbar-login-session">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block">Sign Out</a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
<li class="dropdown">
  <a href="{{ url_for('login') }}" class="dropdown-toggle">
    <strong><span class="glyphicon glyphicon-user"></span> Log In</strong>
  </a>
</li>
</ul>
{% endif %}


    </div>
  </div>
</nav>
