{% extends "base.html" %}
{% block title %}
Events
{% endblock %}
{% block main %}

{% if user.is_authenticated %}
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnyywZ2ue0dEvB7WjNhGf4rA3KDnycc7E&libraries=places"></script>

 <div class="container form-group">

   <form method="post" action="{{ url_for('create_new_event') }}">
     Yammago <input type="text" name="activity" placeholder="_________ing">
     at <input id="pac-input" type="text" name="location" placeholder="location">
     on <input type="datetime-local" name="start_at">
     <input type="submit">
   </form>

      <script>
              var input = document.getElementById('pac-input');
              var autocomplete = new google.maps.places.Autocomplete(input);
      </script>
 </div>
{% endif %}

<div class="">
  <div class='container'>
    <div class="row">
    <div class='col-8'>
      <div id="radioBtn" class="btn-group">
              <a class="btn btn-primary btn-lg notActive" href="{{ url_for('list_events')}}">Latest Yammago</a>
            
      {# <h3> Latest yammago #}
      {% if user.is_authenticated %}

      <a class="btn btn-primary btn-lg Active">Your yammago </a>
      {% endif %}
      </h3>
    </div>
      <h3>OWNER OF</h3>
      {% if events.owner_of %}
      <ul class="list-group event-list">
      {% for event in events.owner_of %}
        <li class="list-group-item">
          <time datetime="2014-07-13">
            <span class="dayname"> {{event.dt_info.dayname}}</span>
            <span class="month">{{event.dt_info.month}}</span>
            <span class="day">{{event.dt_info.day}}</span>
            <span class="year">{{event.dt_info.year}}</span>
          </time>

      <div class="info">
              <h2 class="title"><a href={{ url_for('get_event', event_id=event.id) }}>{{event.activity}} </a>at {{event.location}}</h2>
              <p class="desc">{{event.dt_info.time}}</p>
              <p class="desc">{{event.going}} Going, {{event.interested}} Interested</p>
            </div>
      </li>

      {% endfor %}
      </ul>
      {% else %}
        <p>You have not created any events recently.</p>
      {% endif %}
    </div>
    <div class='col-4'>

  </div>
</div>
</div>

<div class="">
  <div class='container'>
    <div class="row">
    <div class='col-8'>
      <h3>GOING TO</h3>
      {% if events.going_to %}
      <ul class="list-group event-list">
      {% for event in events.going_to %}
        <li class="list-group-item">
          <time datetime="2014-07-13">
            <span class="dayname"> {{event.dt_info.dayname}}</span>
            <span class="month">{{event.dt_info.month}}</span>
            <span class="day">{{event.dt_info.day}}</span>
            <span class="year">{{event.dt_info.year}}</span>
          </time>

      <div class="info">
              <h2 class="title"><a href={{ url_for('get_event', event_id=event.id) }}>{{event.activity}} </a>at {{event.location}}</h2>
              <p class="desc">{{event.dt_info.time}}</p>
              <p class="desc">{{event.going}} Going, {{event.interested}} Interested</p>
            </div>
      </li>

      {% endfor %}
      </ul>
      {% else %}
        <p>You are not going to any events.</p>
      {% endif %}
    </div>
    <div class='col-4'>

  </div>
</div>
</div>

<div class="">
  <div class='container'>
    <div class="row">
    <div class='col-8'>
      <h3>INTERESTED IN</h3>
      {% if events.interested_in %}
      <ul class="list-group event-list">
      {% for event in events.interested_in %}
        <li class="list-group-item">
          <time datetime="2014-07-13">
            <span class="dayname"> {{event.dt_info.dayname}}</span>
            <span class="month">{{event.dt_info.month}}</span>
            <span class="day">{{event.dt_info.day}}</span>
            <span class="year">{{event.dt_info.year}}</span>
          </time>

      <div class="info">
              <h2 class="title"><a href={{ url_for('get_event', event_id=event.id) }}>{{event.activity}} </a>at {{event.location}}</h2>
              <p class="desc">{{event.dt_info.time}}</p>
              <p class="desc">{{event.going}} Going, {{event.interested}} Interested</p>
            </div>
      </li>

      {% endfor %}
      </ul>
      {% else %}
        <p>You are not interested in any events.</p>
      {% endif %}
    </div>
    <div class='col-4'>

  </div>
</div>
</div>

{% endblock %}
