{% extends "base.html" %}
{% block title %}
User Profile
{% endblock %}
{% block main %}
{% if user.is_authenticated %}
  

              <div class="container">    
                  <div class="row">
                      <div class="panel panel-default">
                      <div class="panel-heading">  <h4 >User Profile</h4></div>
                       <div class="panel-body">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                       <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                     
                 
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                          <div class="container" >
                            <h2>{{user.firstname}} {{user.lastname}}</h2>
                            {# <p></b></p> #}
                          
                           
                          </div>
                           <hr>
                          <ul class="container details" >
{#                             <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>{{user.handle}}</p></li>
 #}                            <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{user.handle}}</p>
                          </ul>
                          <hr>
                          <div class="col-sm-5 col-xs-6 tital"></div>
                      </div>
                </div>
            </div>
            </div>


  {% if can_edit %}
    <a href="{{url_for('edit_user')}}"
      <button id="desc_button" type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      </button>
    </a>
  {% endif %}
{% else %}
  <h4> Please sign in to view this page </h4>
{% endif %}
{% endblock %}
