{% extends "base.html" %}

{% block title %}
  {{event.activity}}
{% endblock %}

{% block main %}
  <div class="container">
    <div id="event_id" style="display: none;">{{event.id}}</div>

    <h1>{{event.activity}}<br>
      <small>{{event.dt_info.time}} on {{event.dt_info.dayname}}, {{event.dt_info.day}} {{event.dt_info.month}} {{event.dt_info.year}} </small>
    </h1>
    <div class="col-md-6">
      <h3>Description</h3>

      {% if event.description %}
        {% if user.id == event.owner.id %}
          <div id="editform" style="display: none;">
            <form method="POST" action="{{ url_for('description', event_id=event.id) }}">
              {{ desc_form.body(cols="70", rows="10") }}
              <br>
              <input type="submit" value="Submit"/>
            </form>
          </div>
        {% endif %}

        <div id='description'>
          <pre id="description_val">{{event.description}}</pre>
          {% if user.id == event.owner.id %}
            <button id="desc_button" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
            </button>
          {%endif%}
        </div>

      {% else %}

        {% if user.id == event.owner.id %}
          <form method="POST" action="{{ url_for('description', event_id=event.id) }}">
            {{ desc_form.body(cols="70", rows="10") }}
            <br>
            <input type="submit" value="Submit"/>
          </form>
        {% endif %}
      {% endif %}
      <div style="display:none" id="location">{{event.location}}</div>
      <h3>{{ event.location }}</h3>
      <div id="map" style="height:400px"></div>
    </div>

    <div class="col-md-6">
      <h3>Options</h3>

      {% if user.is_authenticated %}
        <div class="row">
          <div class="col-md-7">
            <div class="form-group status">
              <div class="input-group">
                <div id="radioBtn" class="btn-group">
                  <a class="btn btn-primary btn-sm notActive" data-toggle="status" data-title="Going">Going</a>
                  <a class="btn btn-primary btn-sm notActive" data-toggle="status" data-title="Interested">Interested</a>
                  <a class="btn btn-primary btn-sm notActive" data-toggle="status" data-title="Not Going">Not Going</a>
                </div>
                <input type="hidden" name="status" id="status">
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <p><button id="add_to_cal" type="button" class="btn btn-info" onClick="addEventToGoogleCal()">Add to Calendar</button></p>
          </div>
        </div>
      {% endif %}

      <div>
        {% if going %}
          <h2>Going</h2>
          <ul class="list-group" id="going">
            {% for user in going %}
              <li class="list-group-item">
                <a href="{{ url_for('view_user', user_id = user.user.id) }}">
                  <span class="glyphicon glyphicon-user"></span>{{user.user.handle}}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if interested %}
          <h2>Interested</h2>
          <ul class="list-group" id="interested">
            {% for user in interested %}
              <li class="list-group-item">
                <a href="{{ url_for('view_user', user_id = user.user.id) }}">
                  <span class="glyphicon glyphicon-user"></span>
                  {{user.user.handle}}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        <h2>Comments</h2>
        {% if user.is_authenticated %}
          <div style="border-bottom:1px solid grey; padding-bottom:5px; margin-bottom:5px;">
            <form method="post" action="{{ url_for('create_new_comment') }}">
              <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Post a comment!" rows="1"></textarea>
              <input type="text" style="display:none" name="event_id" value={{event.id}}>
              <input type="submit">
            </form>
          </div>
        {% endif %}

        <ul class="list-group" id="comments">
          {% for comment in event['comments'] %}
            <li class="list-group-item"><span class="glyphicon glyphicon-user"></span>{{comment.user_handle}} : {{ comment.comment }}</li>
          {% endfor %}
        </ul>
      </div>

      {# <ul class="list-group">
          <li class="list-group-item">Posted on {{event.created_at}} by {{event.owner.handle}}</li>
          <li class="list-group-item" id='location'>{{event.location}}</li>
          <li class="list-group-item">Time: {{event.dt_info.time}}</li>
         </ul> #}
    </div>
  </div>
{% endblock %}


{% block scripts %}

<script>
  $('a[data-toggle="status"][data-title="{{user.going_interested}}"]').removeClass('notActive').addClass('active');

  $('#radioBtn a').on('click', function(){
      var sel = $(this).data('title');
      var tog = $(this).data('toggle');
      $('#'+tog).prop('value', sel);

      $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
      $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');

      $.post({
          url: "{{ url_for('create_new_event_participant') }}",
          data: JSON.stringify({'status':$('#'+tog).val()}),
          contentType : 'application/json',
          success: function(data) {
              console.log(data);
          },
          error: function() { console.log("Error"); }
      });
  });

  function addEventToGCal(){
    var d = new Date('{{event.start_at}}');
    var event = {
      'summary': '{{event.activity}}',
      'location': $("#location").text(),
      'description': $("#description_val").text(),
      'start': {
        'dateTime': ISODateString(d)
      },
      'end': {
        'dateTime': ISODateString(d)
      }
    };
    var request = gapi.client.calendar.events.insert({
      'calendarId': 'primary',
      'resource': event
    });

    request.execute(function(event) {
      swal({
        title: 'Event Created',
        text: "<a href='" + event.htmlLink + "' target='_blank'>Click to open the event in Google Calendar</a>",
        html: true
      });
    });
  }
</script>

<script>
  var pusher = new Pusher('9d6daa79b39298f1201b', {
    cluster: 'us2',
    encrypted: true
  });
  var channel = pusher.subscribe('{{event.id}}');
  channel.bind('new-comment', function(data) {
    var list = document.getElementById('comments');
    var entry = document.createElement('li');
    var span = document.createElement('span');
    entry.className = "list-group-item";
    span.className = "glyphicon glyphicon-user";
    entry.appendChild(span);
    entry.appendChild(document.createTextNode(data.message));
    list.insertBefore(entry, list.firstChild);
  });
</script>

<script src="/static/javascripts/comments.js"></script>
<script src="/static/javascripts/event.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnyywZ2ue0dEvB7WjNhGf4rA3KDnycc7E&callback=initMap"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

{% endblock %}
