{% extends "base.html" %}
{% block title %}
Events
{% endblock %}

{% block main %}

{% if user.is_authenticated %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnyywZ2ue0dEvB7WjNhGf4rA3KDnycc7E&libraries=places"></script>
  <div class="container form-group">
    <form method="post" action="{{ url_for('create_new_event') }}">
      Yammago <input type="text" name="activity" placeholder="_________ing">
      at <input id="pac-input" type="text" name="location" placeholder="location">
      on <input type="datetime-local" name="start_at">
      <input type="text" style="display: none;" id="postal_code" name="postal_code">
      <input type="submit">
    </form>
    <script>
      var input = document.getElementById('pac-input');
      var autocomplete = new google.maps.places.Autocomplete(input);
      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        for (var i = 0; i < place.address_components.length; i++) {
          for (var j = 0; j < place.address_components[i].types.length; j++) {
            if (place.address_components[i].types[j] == "postal_code") {
              document.getElementById('postal_code').value = place.address_components[i].long_name;
            }
          }
        }
      })
    </script>
  </div>
{% endif %}

<div class='container'>
  <div class="row justify-content-center">
    <div class='col-8'>
      <div style="padding-bottom: 30px">
        <div id="radioBtn" class="col-8 btn-group">
          <a class="btn btn-primary btn-lg Active">Latest Yammago</a>
          {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg notActive" href="{{ url_for('list_user_events')}}">Your yammago </a>
          {% endif %}
        </div>
        <div class="postal_code_search">
          <input type="text" name="postal_code_search" placeholder="Postal Code" id="postal_code_search">
          <button id="postal_code_search_submit" type="button" class="btn btn-info">
              Search by Location
          </button>
        </div>
      </div>

      {% if latest_event_list %}
        <ul class="list-group event-list">
          {% for event in latest_event_list %}
            <li class="list-group-item">
              <time datetime="2014-07-13">
                <span class="dayname"> {{event.dt_info.dayname}}</span>
                <span class="month">{{event.dt_info.month}}</span>
                <span class="day">{{event.dt_info.day}}</span>
                <span class="year">{{event.dt_info.year}}</span>
              </time>

              <div class="info">
                <h2 class="title"><a href={{ url_for('get_event', event_id=event.id) }}>{{event.activity}} </a>at {{event.location}}</h2>
                <p class="desc">{{event.dt_info.time}}</p>
                <p class="desc">{{event.going}} Going, {{event.interested}} Interested</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No events are available.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/javascripts/event_list.js"></script>
{% endblock %}
